<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<title>포폴ver.1</title>
		<style>
		 header { background-color: red; }
		 
		 section { background-color: green; }
		 
		 article { background-color: black; }
		 
		 footer { background-color: yellow;}
		</style>
	</head>
	<body> 
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
		<header>
			<div>
				<span class="border border-primary rounded-pill"><img src="..." alt="배너가 들어갈 곳" ></span>
				<ul class=" nav justify-content-end">
					 <li class="nav-item">
						<a class=" text-monospace text-muted nav-link active" href="#">Login</a>
					  </li>
					 <li class="nav-item">
						<a class=" text-monospace text-muted nav-link" href="#">Register</a>
					 </li>
				</ul>
			</div>
		</header>
		<section>
			<nav class=" navbar navbar-dark navbar-expand-lg navbar-light bg-primary">
				<a class="navbar-brand" href="#">Navbar</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="2.html">고민게시판</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">청년 정보</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								고객센터
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#">공지사항</a>
								<a class="dropdown-item" href="#">자주하는 질문</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</section>
		
		<article>
			<div class="jumbotron jumbotron-fluid">
				<div class="container border border-secondary">
					<h1 class="display-4">[이미지나 로고 삽입]</h1>
					<p class="lead">어떤 홈페이지 인지 소개글</p>
				</div><br>
				<div class="container border border-secondary">
					<h1 class="display-4">[이미지링크]</h1>
					<p class="lead">취업 고민글 작성 바로가기 버튼 들어갈 곳</p>
				</div>
			</div>
		</article>		
		<footer>
			<div class="bg-primary" style="text-align: center;">
				<h5>footer</h5>
			</div>
		</footer>
		
  </body>
</html>